<!DOCTYPE html>
<html>
<head>
    <title>Book Store Checkout</title>
    <style>
        .container {
            text-align: center;
            margin-top: 50px;
        }
        
        .btn {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
    
</head>
<body>

<div class="container">
    <p>Checkout Successful!</p>
    <input type="button" class="btn" value="Back To HomePage" onclick="goToHomePage()">
</div>

</body>
</html>
